extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      h4
        if edit
          | Edit Speaker &nbsp;
          small= data.id
        else
          | Add Speaker

    .panel-body
      form#speaker-form.form-horizontal(role="form" method="post" action=(edit ? "/speakers/"+data.id+"/edit" : "/speakers/new"))

        if !edit
          input(type="hidden" name="conference" value=conference.id)

        .form-group
          label.col-sm-2(for="speaker-name") Name
          .col-sm-10
            input#speaker-name.form-control(type="text" name="name" value=(data.name ? data.name : null) placeholder="Speaker Name")

        .form-group
          label.col-sm-2(for="speaker-origin") Origin
          .col-sm-10
            input#speaker-origin.form-control(type="text" name="origin" value=(data.origin ? data.origin : null) placeholder="Speaker Origin")

        .form-group
          label.col-sm-2(for="speaker-charge") Charge
          .col-sm-10
            input#speaker-charge.form-control(type="text" name="charge" value=(data.charge ? data.charge : null) placeholder="Speaker Charge")

        .form-group
          label.col-sm-2(for="speaker-description") Description
          .col-sm-10
            input#speaker-description.form-control(type="text" name="description" value=(data.description ? data.description : null) placeholder="Speaker Description")

        .form-group
          label.col-sm-2(for="speaker-picture") Picture
          .col-sm-10
            .fileinput.fileinput-new(data-provides="fileinput")
              .fileinput-preview.thumbnail(data-trigger="fileinput" style="width: 160px; height: 200px;")
                img(src=(data.picture_url || "http://placehold.it/160x200"))
              div
                span.btn.btn-default.btn-file
                  span.fileinput-new Select image
                  span.fileinput-exists Change
                  input#speaker-picture(type="file" name="picture")
                a.btn.btn-default.fileinput-exists(data-dismiss="fileinput") Remove
        
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type="submit")
              if edit
                | Save Changes
              else
                | Create

  script(type="text/javascript")
    | $(function(){
    |   $('#speaker-form').transloadit({
    |     'wait': true,
    |     'autoSubmit': true,
    |     'triggerUploadOnFileSelection': false,
    |     'params': {
    |       'auth': {'key': '
    != config.transloadit.auth_key
    |   '},
    |       'template_id': '
    != config.transloadit.template_speakers
    | '
    |     }
    |   });
    | });