extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      h4 Add Speaker

    .panel-body
      form.form-horizontal(role="form" method="post" action="/speakers/new")

        input(type="hidden" name="conference" value=conference.id)

        .form-group
          label.col-sm-2(for="speaker-name") Name
          .col-sm-10
            input#speaker-name.form-control(type="text" name="name" value=(data.name ? data.name : null) placeholder="Speaker Name")

        .form-group
          label.col-sm-2(for="speaker-origin") Origin
          .col-sm-10
            input#speaker-origin.form-control(type="text" name="origin" value=(data.origin ? data.origin : null) placeholder="Speaker Origin")

        .form-group
          label.col-sm-2(for="speaker-charge") Charge
          .col-sm-10
            input#speaker-charge.form-control(type="text" name="charge" value=(data.charge ? data.charge : null) placeholder="Speaker Charge")

        .form-group
          label.col-sm-2(for="speaker-description") Description
          .col-sm-10
            input#speaker-description.form-control(type="text" name="description" value=(data.description ? data.description : null) placeholder="Speaker Description")

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Add Speaker