extends ../layout

block contents
  .panel.panel-default

    
    .panel-heading
      if conference.role == 'owner' || conference.role == 'collaborator'
        .pull-right
          a.btn.btn-default(href=("/announcements/new?conference="+conference.id))
            i.fa.fa-plus
              | &nbsp; Add Announcement

      h4 Announcements

      .clearfix

    .panel-body.
      This is the list of announcements of the conference.

    table.table.table-striped.table-bordered
      tr
        th Title
        th Body
        th Date
        if conference.role == 'owner' || conference.role == 'collaborator'
          th

      for announcement in conference.announcements
        tr
          td= announcement.title
          td= announcement.body
          td= announcement.date
          if conference.role == 'owner' || conference.role == 'collaborator'
            td: form(action=("/announcements/delete/"+announcement.id) method="post")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-danger(type="submit") Delete

      else
        tr
          td(colspan="3") No announcements found