extends layout

block contents
  .panel.panel-default

    .panel-heading
      .pull-right
        a.btn.btn-default(href="/conferences/new")
          i.fa.fa-plus
          | &nbsp; New Conference

      h4 Conferences

      .clearfix

    .panel-body.
      This is the list of conferences to which you have access. Select one to
      see its details and be able to edit them if you are a collaborator.

    table.table.table-striped.table-bordered
      tr
        th Name
        th Description
        th Role

      for conference in conferences
        tr
          td: a(href="/conferences/"+conference.id)= conference.name
          td= conference.description
          td= conference.role

      else
        tr
          td(colspan="3") No conferences found
