extends ../layout

block contents
  h1= conference.name
  p= conference.description


  if conference.role == 'owner' || conference.role == 'collaborator'
    form.navbar-form(action=("/conferences/"+conference.id+"/edit") method="get")
      button.btn.btn-primary(type="submit") Edit Conference

  if conference.role == 'owner'
    .panel.panel-danger

      .panel-heading: h4 Danger Zone
      
      .panel.body
        form(action=("/conferences/"+conference.id+"/delete") method="post")
          button.btn.btn-danger(type="submit") Delete Conference