extends layout

block contents
  .panel.panel-default

    .panel-heading
      .pull-right
        a.btn.btn-default
          i.fa.fa-plus
          | &nbsp; New Conference

      h4 Conferences

      .clearfix

    .panel-body
      table.table
        tr
          th Title
          th Description

        for conference in conferences
          tr
            td= conference.title
            td= conference.description

        else
          tr
            td(colspan="2") No conferences found