doctype html
html
	head
		title My Conference Web

		link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")

		script(type="text/javascript" src="//code.jquery.com/jquery.js")
		script(type="text/javascript" src="/js/bootstrap.js")

	body
		h1 My Conference Web

		//SIGNUP
		div
			form(action="/signup" method="post")
				input(name="email" type="email" id="signup-email" size="25" placeholder="email")
				input(name="password" type="password" id="signup-password" size="25" placeholder="password")
				input(name="repeat_password" type="password" id="signup-password-repeat" size="25" placeholder="repeat password")
				input(type="submit" id="signup-button" value="Sign up")

		//LOGIN
		div
			form(action="/login" method="post")
				input(name="email" type="email" id="login-email" size="25" placeholder="email")
				input(name="password" type="password" id="login-password" size="25" placeholder="password")
				input(type="submit" id="login-button" value="Login")