<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css" media="screen" />
    <title>My Conference Web</title>
</head>

<body>
	<h1>My Conference Web</h1>

	<!--LOGIN-->
	<div>
		<form action="/login" method="post">
			<input type="text" id="login-email" size="25" placeholder="email"/>
			<input type="text" id="login-password" size="25" placeholder="password"/>
			<input type="submit" id="login-button" value="Login"/>
		</form>
	</div>

	<!--SIGNUP-->
	<div>
		<form action="/signup" method="post">
			<input type="text" id="signup-email" size="25" placeholder="email"/>
			<input type="text" id="signup-password" size="25" placeholder="password"/>
			<input type="text" id="signup-password-repeat" size="25" placeholder="repeat password"/>
			<input type="submit" id="signup-button" value="Sign up"/>
		</form>
	</div>
</body>
</html>
