doctype html
html
	head
		title My Conference

		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="/css/styles.css")

		script(type="text/javascript" src="//code.jquery.com/jquery.js")
		script(type="text/javascript" src="/js/bootstrap.js")

	body
		nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
			.container
				p.navbar-text.navbar-left My Conference
				unless session.loginData
					a.btn.navbar-btn.navbar-right(href="/login") Login
					a.btn.navbar-btn.navbar-right(href="/signup") Sign up

		.container
			for message in flash('error')
				div.alert.alert-danger.alert-dismissable
					button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
					!= message
			for message in flash('success')
				div.alert.alert-success.alert-dismissable
					button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
					!= message

			block contents
