doctype html
html
	head
		title My Conference

		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/jasny-bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/styles.css")

		link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

		script(type="text/javascript" src="//code.jquery.com/jquery.js")
		script(type="text/javascript" src="/js/bootstrap.min.js")
		script(type="text/javascript" src="/js/jasny-bootstrap.min.js")
		script(type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js")

	body
		nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation"): .container
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a.navbar-brand(href="/")
					if conference
						= conference.name
					else
						| My Conference

			#navbar-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav
					if conference
						li: a(href=("/conferences/"+conference.id+"/users")) Users
						li: a(href=("/conferences/"+conference.id+"/announcements")) Announcements
						li: a(href=("/conferences/"+conference.id+"/documents")) Documents
						li: a(href=("/conferences/"+conference.id+"/venues")) Venues
						li: a(href=("/conferences/"+conference.id+"/organizers")) Organizers
						li: a(href=("/conferences/"+conference.id+"/speakers")) Speakers

				ul.nav.navbar-nav.navbar-right
					if session.loginData
						li: form.navbar-form(action="/logout" method="post")
							button.btn.btn-sm.btn-link.navbar-link(type="submit") Log out
					else
						li: a.navbar-link(href="/login"): small Log in
						li: form.navbar-form(action="/signup" method="get")
							button.btn.btn-primary(type="submit") Sign up

		.container
			// Error messages
			for message in flash('error')
				div.alert.alert-danger.alert-dismissable
					button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
					!= message

			// Success messages
			for message in flash('success')
				div.alert.alert-success.alert-dismissable
					button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
					!= message

			// Page contents
			block contents
