extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      h4 New Conference

    .panel-body
      form.form-horizontal(role="form" method="post" action="/redeem")

        .form-group
          label.col-sm-2(for="code") Code
          .col-sm-10
            input#code.form-control(type="text" name="code" value=(data.code ? data.code : null) placeholder="Invitation Code")

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Redeem Code
