extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      h4 Add Venue

    .panel-body
      form.form-horizontal(role="form" method="post" action="/venues/new")

        input(type="hidden" name="conference" value=conference.id)

        .form-group
          label.col-sm-2(for="venue-title") Name
          .col-sm-10
            input#venue-title.form-control(type="text" name="name" value=(data.name ? data.name : null) placeholder="Venue Name")

        .form-group
          label.col-sm-2(for="venue-details") Details
          .col-sm-10
            input#venue-details.form-control(type="text" name="details" value=(data.details ? data.details : null) placeholder="Venue Details")

        .form-group
          label.col-sm-2 Location
          .col-sm-2: input#venue-latitude.form-control(type="text" name="latitude" placeholder="Latitude")
          .col-sm-2: input#venue-longitude.form-control(type="text" name="longitude" placeholder="Longitude")
          .col-sm-6: input#venue-address.form-control(type="text" placeholder="Address")
          .col-sm-10.col-sm-offset-2.gmap-container: #map-canvas.gmap
          

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Add Venue


  script.
    function reverseGeocode (lat, lng, cb) {
      $.ajax({
        url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&sensor=false',
        dataType: 'json'
      }).done(function (json) {
        cb(json.results);
      });
    }

    function updateAddress () {
      var lat = $('#venue-latitude').val();
      var lng = $('#venue-longitude').val();

      reverseGeocode(lat, lng, function (results) {
        var elem = $('#venue-address');

        if (results.length) {
          elem.val(results[0].formatted_address);
          //elem.parent().removeClass('has-warning');
          updateMap();

        }/* else {
          elem.val('No address found');
          elem.parent().addClass('has-warning');
        }*/
      });
    }

    function updateMap () {
      var lat = $('#venue-latitude').val();
      var lng = $('#venue-longitude').val();

      if (!isNaN(lat) && !isNaN(lng)) {
        gmap.setZoom(15);
        gmap.panTo({'lat': Number(lat), 'lng': Number(lng)});
      }
    }

    function updateCoordinates() {
      var lat = gmap.latLng.lat();
      var lng = gmap.latLng.lng();
      // populate yor box/field with lat, lng
      alert("Lat=" + lat + "; Lng=" + lng);
    }

    function codeAddress() {
      var address = document.getElementById("venue-address").value;
      geocoder.geocode( {'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          $('#venue-latitude').val(results[0].geometry.location.lat());
          $('#venue-longitude').val(results[0].geometry.location.lng());
          gmap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: gmap,
              position: results[0].geometry.location
          });
        }
      });
    }

    $(function(){
      $('#venue-latitude, #venue-longitude').on('change', updateAddress);
      $('#venue-address').on('change', codeAddress);
      $('#map-canvas').on('click', updateCoordinates);

      //updateAddress();
      //codeAddress();
      //updateCoordinates();
 
      google.maps.event.addListener(gmap, "click", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        // populate yor box/field with lat, lng
        alert("Lat=" + lat + "; Lng=" + lng);
      });
    });