extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      h4 Add Venue

    .panel-body
      form.form-horizontal(role="form" method="post" action="/venues/new")

        input(type="hidden" name="conference" value=conference.id)

        .form-group
          label.col-sm-2(for="venue-title") Name
          .col-sm-10
            input#venue-title.form-control(type="text" name="name" value=(data.name ? data.name : null) placeholder="Venue Name")

        .form-group
          label.col-sm-2(for="venue-details") Details
          .col-sm-10
            input#venue-details.form-control(type="text" name="details" value=(data.details ? data.details : null) placeholder="Venue Details")

        .form-group
          label.col-sm-2 Location
          .col-sm-2: input#venue-latitude.form-control(type="text" name="latitude" value=(data.location && data.location.lat ? data.location.lat : null) placeholder="Latitude")
          .col-sm-2: input#venue-longitude.form-control(type="text" name="longitude" value=(data.location && data.location.lng ? data.location.lng : null) placeholder="Longitude")
          .col-sm-6: input#venue-address.form-control(type="text" disabled)
          .col-sm-10.col-sm-offset-2.gmap-container: #map-canvas.gmap

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Add Venue


  script.
    $(function(){
      $('#venue-latitude, #venue-longitude').on('change', function(i, e){
        var lat = $('#venue-latitude').val();
        var lng = $('#venue-longitude').val();

        $.ajax({
          url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&sensor=false',
          dataType: 'json'
        }).done(function (json) {
          console.log(json);

          if (json.results.length > 0) {
            $('#venue-address').val(json.results[0].formatted_address);
          }
        });
      });
    });