extends ../layout

block contents
  .panel.panel-default

    
    .panel-heading
      if conference.role == 'owner' || conference.role == 'collaborator'
        .pull-right
          a.btn.btn-default(href=("/agenda/new?conference="+conference.id))
            i.fa.fa-plus
              | &nbsp; Add Event

      h4 Agenda

      .clearfix

    .panel-body.
      This is the list of events of the conference.

    table.table.table-striped.table-bordered
      tr
        th Title
        th Description
        th Date &amp; Time
        if conference.role == 'owner' || conference.role == 'collaborator'
          th

      for agenda in conference.agendaEvents
        tr
          td= agenda.title
          td= agenda.description
          td= agenda.date
          if conference.role == 'owner' || conference.role == 'collaborator'
            td: form(action=("/agenda/delete/"+agenda.id) method="post")
                input(type="hidden" name="conference" value=conference.id)
                button.btn.btn-danger(type="submit") Delete

      else
        tr
          td(colspan="3") No events found