extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      .pull-right
        //a.btn.btn-default(href=("/users/new?conference="+conference.id))
          i.fa.fa-plus
          | &nbsp; Add User

      h4 Users

      .clearfix

    .panel-body.
      This is the list of users of the conference.

    table.table.table-striped.table-bordered
      tr
        th Name
        tr
          td(colspan="3") No users found

      //for user in conference.users
        tr
          td= user.name

      //else
        tr
          td(colspan="3") No users found