extends ../layout

block contents
  .panel.panel-default

    .panel-heading
      if conference.role == 'owner'
        .pull-right
          a.btn.btn-default(href=("/users/invite?conference="+conference.id))
            i.fa.fa-plus
            | &nbsp; Invite User

      h4 Users

      .clearfix

    .panel-body.
      This is the list of users of the conference.

    table.table.table-striped.table-bordered
      tr
        th ID
        th Role

      for user in conference.users
        tr
          td= user.id
          td= user.role

      else
        tr
          td(colspan="3") No users found